@import "tailwindcss";

button {
  @apply whitespace-nowrap cursor-pointer px-4 py-1 flex items-center hover:delay-50 hover:duration-50 hover:ring-2 ring-inset justify-center h-fit transition-colors rounded-full;
}

button.light {
  @apply bg-violet-300  hover:ring-violet-400 active:bg-violet-400 text-violet-950;
}

button.dark {
  @apply bg-violet-950  hover:ring-violet-900 active:bg-violet-900 text-violet-50;
}

button.light.disabled {
  @apply cursor-not-allowed ring-0 bg-violet-900/50 text-violet-700/50;
}

.pattern {
  --s: 120px;
  --c1: #1a0d00;
  --c2: #0d001a;
  --c3: #080815;
  --c4: #0f0d1a;

  background: radial-gradient(var(--c1) 24%, #0000 25%),
    radial-gradient(var(--c2) 30%, #0000 32%) calc(var(--s) / 2)
      calc(var(--s) / 2),
    repeating-conic-gradient(from 30deg, var(--c3) 0 30deg, var(--c4) 0 25%);
  background-size: var(--s) var(--s);
}
