@font-face {
  font-family: "RFC Tarot";
  src: url("/RFCTarot-regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.rfc-font {
  font-family: "RFC Tarot", serif;
}
